*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}   
.container{
    background: #222;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
    padding: 50px;

    & .box{
        background-color: rgb(122, 43, 226);
        width: 200px;
        height: 200px;
        border-radius: 8px; 
    }
}
